---
import MainLayout from '../layouts/MainLayout.astro';
---

<MainLayout title ="About">
	<h1>Header</h1>
	<p>Page ABOUT, wrapped in layout!</p>
</MainLayout>

<style>
	h1 {
		color: red;
	}
</style>