---
import MainLayout from "src/layouts/MainLayout.astro";
import NavBar from "@components/shared/NavBar.astro";
import Title from "@components/shared/Title.astro";
import { Counter } from "@components/shared/Counter";

---

<MainLayout title="favorites">
    <Title>Favorites</Title>
    <Counter client:load/>
</MainLayout>