---
const links = [
    { href: '/', text: 'Listing' },
    { href: '/pokemons/1', text: 'Poke-Pages' },
    { href: '/favorites', text: 'Favorites' },
];

const currentPath = Astro.url.pathname;
---

<nav class="bg-slate-700 shadow dark:bg-slate-900">
    <!-- <div class="container flex items-center justify-center p-6 mx-auto text-gray-600 capitalize dark:text-gray-300">
        {
            links.map(link => (
                <a 
                href={link.href}
                class:list= {[
                'text-gray-800 dark:text-gray-200  mx-1.5 sm:mx-6',
                {
                    'border-b-2 border-blue-500': currentPath === link.href
                }
                ]}
                >
                {link.text}
                </a>
            ))
        }
    </div> -->
    <div class="flex items-center text-center justify-center mt-2"
    >
    {
        links.map(link => (
        <div>
            <a 
            href={link.href}
            class="text-gray-800 dark:text-gray-200  mx-1.5 sm:mx-8"
            >
            {link.text}
            </a>
            {
                currentPath === link.href ? (
                    <div 
                    transition:name="menu-line"
                    class="border-b-2 border-blue-500 mx-3" />
                ) : (
                    <div class="border-b-2 border-transparent"/>
                )

            }
        </div>
        ))
    }
    </div>
</nav>